### String Data Type in python

In [1]:
# boundaries
# "string text", 'string text' , ''' stringm text ''', """ string text  """
name : str ='Abdullah Ghani'
print(type(name))
print(name)

<class 'str'>
Abdullah Ghani

In [ ]:
message: str = "PIAIC Student Card\n Father's Name"
#  if we need both single quote ' and double quote  " in a string we will use tripple quote    ``` message``` or """ message """
message: str = """
PIAIC special meaning quote's

"""

In [2]:
card :str =  "PIAIC Student Card\nStudent Name: " + name
print(card)

PIAIC Student Card
Student Name: Abdullah Ghani

## Concatination

In [3]:
# stings value concatination
'a' + 'b' + 'c'

'abc'

In [10]:
#  it will give error only string concatinate with strings
'a' +9

TypeError: can only concatenate str (not "int") to str

In [11]:
# we have to make int 9 into string
'a' +'9'
'a' + str(9)

'a9'

#### \ Line Continue
#### Define multiline String """ , """

In [13]:
card : str= """
PIAIC Student Card
Student Name:
Father's Name:
"""

card

"\nPIAIC Student Card\nStudent Name:\nFather's Name:\n"

## F-string

In [24]:
name:str = "Abdullah Ghani"
fatherName: str = "Hafiz Abdul Ghani Bari"
age: int= 30;
card : str= f"""
PIAIC Student Card
Student Name: {name}
Father's Name:{fatherName}
Age:{age}

Total : {2+3+4+2+4}
"""
print(card)

PIAIC Student Card
Student Name: Abdullah Ghani
Father's Name:Hafiz Abdul Ghani Bari
Age:30

Total : 15

## F-string and Jinja String

In [30]:
card : str= """
PIAIC Student Card
Student Name: {{name}}
Father's Name:{{fatherName}}
Age: {{age}}
Total : {{2+3+4+2+4}}
"""
print(card)

PIAIC Student Card
Student Name: {{name}}
Father's Name:{{fatherName}}
Age: {{age}}
Total : {{2+3+4+2+4}}

In [31]:
card : str= """
PIAIC Student Card
Student Name: %s
Father's Name: %s
Age: %d
Total : {{2+3+4+2+4}}
"""%(name,fatherName,age)
print(card)

PIAIC Student Card
Student Name: Abdullah Ghani
Father's Name: Hafiz Abdul Ghani Bari
Age: 30
Total : {{2+3+4+2+4}}

In [32]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [40]:
name:str = "ABdUlLah gHaNi"
print(name.capitalize(),"\n",name.title())

Abdullah ghani
 Abdullah Ghani

In [41]:
card : str= """
PIAIC Student Card
Student Name: {2}
Father's Name: {0}
Age: {1}
""".format(fatherName,age,name)
print(card)

PIAIC Student Card
Student Name: ABdUlLah gHaNi
Father's Name: Hafiz Abdul Ghani Bari
Age: 30

In [43]:
card : str= """
print("This is the exec")
a:int=3
b:int= 4
print(a**b)
"""
exec(card)

This is the exec
81

In [48]:
name = "Abdullah Ghani"
print(name.upper())
print(name.lower())

ABDULLAH GHANI
abdullah ghani

In [52]:
f_name = "Abdullah"
l_name = "Ghani"
full_name = f"{f_name} {l_name}"
print(full_name.title())
print(
    "Python"
)

Abdullah Ghani
Python

In [59]:
# /n
# /t
# /b

print("Name:\tAbdullah\tGhani")
print("Name:\nAbdullah\nGhani")
print("Name:\bAbdullah\tGhani")

Name:	Abdullah	Ghani
Name:
Abdullah
Ghani
NameAbdullah	Ghani

In [63]:
best_Language = '   python  '

In [64]:
best_Language.rstrip()

'   python'

In [65]:
best_Language.lstrip()

'python  '

In [66]:
best_Language.strip()

'python'

In [67]:
nostarch_url: str = "https://nostarch.com,https://google.com"

In [71]:
nostarch_url.removeprefix('https://')

'nostarch.com,https://google.com'