In [1]:
import pandas as pd

In [3]:
# %pip install pandas
# %conda install lxml -y

Error while loading conda entry point: conda-libmamba-solver (dlopen(/Users/abdullahghani/anaconda3/lib/python3.11/site-packages/libmambapy/bindings.cpython-311-darwin.so, 0x0002): Library not loaded: @rpath/libarchive.13.dylib
  Referenced from: <8447D0F3-4502-3ED6-8455-D7C22F99CAF6> /Users/abdullahghani/anaconda3/lib/libmamba.2.0.0.dylib
  Reason: tried: '/Users/abdullahghani/anaconda3/lib/libarchive.13.dylib' (no such file), '/Users/abdullahghani/anaconda3/lib/python3.11/site-packages/libmambapy/../../../libarchive.13.dylib' (no such file), '/Users/abdullahghani/anaconda3/lib/python3.11/site-packages/libmambapy/../../../libarchive.13.dylib' (no such file), '/Users/abdullahghani/anaconda3/bin/../lib/libarchive.13.dylib' (no such file), '/Users/abdullahghani/anaconda3/bin/../lib/libarchive.13.dylib' (no such file), '/usr/local/lib/libarchive.13.dylib' (no such file), '/usr/lib/libarchive.13.dylib' (no such file, not in dyld cache))
Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Users/abdullahghani/anaconda3/envs/myenv

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2023.12.12 |       hca03da5_0         127 KB
    ------------------------------------------------------------
                                           Total:         127 KB

The following NEW packages will be INSTALLED:

  icu                pkgs/main/osx-arm64::icu-73.1-h313beb8_0
  libiconv           pkgs/main/osx-arm64::libiconv-1.16-h1a28f6b_2
  libxml2            pkgs/main/osx-arm64::libxml2-2.10.4-h0dcf63f_1
  libxslt            pkgs/main/osx-arm64::libxslt-1.1.37-h80987f9_1
  lxml               pkgs/main/osx-arm64::lxml-4.9.3-py312h50ffb84_0

The following packages will be UPDATED:

  ca-certificates    conda-forge::ca-certificates-2023.11.~ --> pkgs/main::ca-certificates-2023.12.12-hca03da5_0

The following packages will be SUPERSEDED by a higher-priority channel:

  openssl             conda-forge::openssl-3.2.0-h0d3ecfb_1 --> pkgs/main::openssl-3.0.12-h1a28f6b_0



Downloading and Extracting Packages

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

## Python Arthametic Operations
- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

In [6]:
table= pd.read_html('https://www.w3schools.com/python/python_operators.asp')
display(table[0])

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [7]:
a: int = 7
b: int = 2

print(a+b)  # addition  # int
print(a-b)  # sub     # int
print(a*b)  # multiplication # int
print(a/b)  # division  # float

9
5
14
3.5

In [8]:
print(a%b) #modulus | reminder of division

1

In [11]:
print(2**3) #power  2^3 = 8

8
1

In [13]:
print(12//3) #floor division | quotient without decimal

4

# Python Assignment Operator

In [14]:
assignment_op=table[1]
display(assignment_op)

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [15]:
# Assign
a: int = 7
print(a)
a+=2  # PREVIOUS VALUE + 2
print(a)

7
9

In [16]:
# Assign
a: int = 7
print(a)
a-=2  # a=a-2
print(a)

7
5

In [17]:
# Assign
a: int = 7
print(a)
a*=2  # a=a*2
print(a)

7
14

In [18]:
# Assign
a: int = 7
print(a)
a/=2  # a=a/2
print(a)

7
3.5

In [19]:
# Assign
a: int = 7
print(a)
a%=2  # a=a%2
print(a)

7
1

In [23]:
# Assign
a: int = 7
print(a)
a **= 2  # 7^2
print(a)

a //= 2
print(a)

7
49
24

In [26]:
print(a:=7) #assign and print

7

## Python Comparision Operator

In [21]:
comparision_operator=table[2]
display(comparision_operator)

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [27]:
a : int =7
b : str = '7'
print(a==b)

False

In [28]:
# != not equal
a : int =7
b : str = '7'
print(a!=b)

True

In [30]:
# > greater than
a : int =7
b : str = 10
print(a>b)
# a>b
# 7>10
# False

False

In [31]:
# < less than
a : int =7
b : str = 10
print(a<b)
# a<b
# 7<10
# False

True

In [32]:
# >= greater than or equal to
a : int =7
b : str = 7
print(a>=b)
# a>=b
# 7>=7
# True

True

### ASCII Code
```
A = 65
Z = 90
a = 97
z = 122
0 = 48
9 = 57
```

In [33]:
var_a: chr = 'a'
var_b: chr = 'B'

print(var_a<var_b) #ASCII value comparison
# var_a>var_b
# 97>66
# False

False

## Ascii Code Conversion

In [34]:
chr(65)

'A'

In [37]:
ord('A')

65

In [38]:
ord('4')

52

In [39]:
ord('9')

57

In [40]:
ord('0')

48

In [41]:
ord('د')

1583

In [42]:
ord('ل')

1604

## Python Logical Operator

In [43]:
logical_operator=table[3]
display(logical_operator)

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [49]:
# and compulsaory both should be true
print(f"""
{False and False}
{True and False}
{False and True}
{True and True}
""")

False
False
False
True

In [50]:
# or atleast one should be true
print(f"""
{False or False}
{True or False}
{False or True}
{True or True}
""")

False
True
True
True

In [51]:
# not reverse the value
print(f"""
{ not False}
{not True}
""")

True
False

In [53]:
name : str = 'abdullah'
print(not name == "Abdullah")

True

## Python Identity Operator

In [58]:
identity_operator=table[4]
display(identity_operator)

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [57]:
x: str ='abc'
y: str ='abc'
print(id(x))
print(id(y))
print (x is y)

4303772640
4303772640
True

## Python Membership Operator

In [80]:
membership_operator=table[5]
display(membership_operator)

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [68]:
names: list[str] = [chr(i) for i in range(65,91)]
print(names)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [72]:
for i in range(len(names)):
     print(i,names[i])
     if names[i] == 'D':
         print('found')
         break

0 A
1 B
2 C
3 D
found

In [76]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" in names

True

In [79]:
names: list[str] = ["Abdullah Ghani","Abdullah","ghani","abdullah","ghani","abdullah ghani"]
user_input: str = input("Enter your name: ")
user_input in names

True