### String Data Type in python

In [4]:
# boundaries
# "string text", 'string text' , ''' stringm text ''', """ string text  """

# double quotes string
name : str ='Abdullah Ghani'
print(type(name))
print('double quotes string: " " ',name)

# single quotes string
name : str ='Abdullah Ghani'
print(type(name))
print("single quotes: ' ' ",name)

# triple quotes string
name : str ='''Abdullah Ghani'''
print(type(name))
print("triple quotes: ''' ''' ",name)

<class 'str'>
double quotes string: " "  Abdullah Ghani
<class 'str'>
single quotes: ' '  Abdullah Ghani
<class 'str'>
triple quotes: ''' '''  Abdullah Ghani

In [3]:
message: str = "PIAIC Student Card\n Father's Name"
#  if we need both single quote ' and double quote  " in a string we will use tripple quote    ``` message``` or """ message """
message: str = """ PIAIC special meaning quote's """

## Concatination

In [5]:
# stings value concatination
'a' + 'b' + 'c'

'abc'

In [6]:
#  it will give error only string concatinate with strings
'a' +9

TypeError: can only concatenate str (not "int") to str

In [7]:
# we have to make int 9 into string
'a' +'9'
'a' + str(9)

'a9'

In [9]:
father_name: str = "Abdul Ghani"
education: str = "BSC Computer Enginering"
age: int = 29

card :str = "PIAIC Student Card\nStudent Name:\t" + name + "\nage:\t"+ str(age) +"\nFather name:\t"+father_name+"\nEducation:\t"+education

print(card)

PIAIC Student Card
Student Name:	Abdullah Ghani
age:	29
Father name:	Abdul Ghani
Education:	BSC Computer Enginering

#### "\\" Line Continue

In [31]:
print(5 +\
      10 +\
    15)

30

In [ ]:
father_name: str = "Abdul Ghani"
education: str = "BSC Computer Enginering"
age: int = 29

card :str = "PIAIC Student Card\nStudent Name:\t" + name + "\nage:\t"+ str(age) +"\nFather name:\t"+father_name+"\nEducation:\t"+education

print(card)

#### Define multiline String """  """ ,''' '''

In [35]:
card : str= """
PIAIC Student Card
Student Name:
Father's Name:
Age:
Education:

"""

print(card)

PIAIC Student Card
Student Name:
Father's Name:
Age:
Education:

## F-string

In [36]:
name:str = "Abdullah Ghani"
father_name: str = "Abdul Ghani"
education: str = "BSC Computer Enginering"
age: int = 29

card : str= f"""
PIAIC Student Card
Student Name: {name}
Father's Name:{father_name}
Age:{age}
Education:{education}

Total : {2+3+4+2+4}
"""
print(card)

PIAIC Student Card
Student Name: Abdullah Ghani
Father's Name:Abdul Ghani
Age:29
Education:BSC Computer Enginering

Total : 15

## f-string and Jinja String

In [44]:
# f_string
print(f"""
Student name {name}
""")
# jinja style
print(
"""
student name: {{name}}
""")

Student name Abdullah Ghani


student name: {{name}}

In [37]:
card : str= f"""
PIAIC Student Card
Student Name: {{name}}
Father's Name:{{fatherName}}
Age: {{age}}
Total : {{2+3+4+2+4}}
"""
print(card)

PIAIC Student Card
Student Name: {name}
Father's Name:{fatherName}
Age: {age}
Total : {2+3+4+2+4}

### string formatting % operator, which utilizes format specifiers
- placeholder

In [51]:
card : str= """
PIAIC Student Card
Student Name: %s
Father's Name: %s
Age: %d
Education: %s
"""%(name,father_name,age,education)
print(card)
print("=============================")

# %s - string
print("Student Name:    %s"%name)

# %d - Decimal Integer:
print("Student Age:    %s"%age)

# %f - Floating point number:
gpa : float = 3.59890898;
print("Student GPA:    %f"%gpa)

# %.<number>f - Floating point number with fixed precision:
print("Student GPA:    %.2f"%gpa)

# %x/%X - Integer in hexadecimal (lowercase/uppercase):
# %o - Integer in octal:
# %% - Literal '%' character:

# %r - String (using repr), useful for debugging:


# %c - Character (from integer or single character string):

# %e/%E - Scientific notation:

# %g/%G - Floating point format. Uses lowercase/uppercase exponential format if exponent is less than -4 or not less than precision, decimal format otherwise:

# %p - Used for pointers (addresses), mostly relevant in C extensions, not typically used in standard Python code.
# (width)d - Integer with a minimum width, padded with spaces:
# - (width)d - Left-aligned integer with a minimum width:
# (width).(precision)f - Floating-point number with fixed width and precision:
# (width)s - String with minimum width, right-aligned by default:
# +d - Signed decimal integer, force sign for positive numbers:
# 0(width)d - Zero-padded integer with minimum width:
# #x/#X - Prefixed hexadecimal format with '0x' or '0X':
# #o - Prefixed octal format with '0':
# %u - Obsolete placeholder for unsigned decimal integer:

PIAIC Student Card
Student Name: Abdullah Ghani
Father's Name: Abdul Ghani
Age: 29
Education: BSC Computer Enginering

=============================
Student Name:    Abdullah Ghani
Student Age:    29
Student GPA:    3.598909
Student GPA:    3.60

In [14]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [15]:
name:str = "ABdUlLah gHaNi"
print(name.capitalize(),"\n",name.title())

Abdullah ghani
 Abdullah Ghani

In [16]:
card : str= """
PIAIC Student Card
Student Name: {2}
Father's Name: {0}
Age: {1}
""".format(fatherName,age,name)
print(card)

PIAIC Student Card
Student Name: ABdUlLah gHaNi
Father's Name: Hafiz Abdul Ghani Bari
Age: 30

In [17]:
card : str= """
print("This is the exec")
a:int=3
b:int= 4
print(a**b)
"""
exec(card)

This is the exec
81

In [18]:
name = "Abdullah Ghani"
print(name.upper())
print(name.lower())

ABDULLAH GHANI
abdullah ghani

In [19]:
f_name = "Abdullah"
l_name = "Ghani"
full_name = f"{f_name} {l_name}"
print(full_name.title())
print(
    "Python"
)

Abdullah Ghani
Python

In [20]:
# /n
# /t
# /b

print("Name:\tAbdullah\tGhani")
print("Name:\nAbdullah\nGhani")
print("Name:\bAbdullah\tGhani")

Name:	Abdullah	Ghani
Name:
Abdullah
Ghani
NameAbdullah	Ghani

In [21]:
best_Language = '   python  '

In [22]:
best_Language.rstrip()

'   python'

In [23]:
best_Language.lstrip()

'python  '

In [24]:
best_Language.strip()

'python'

In [25]:
nostarch_url: str = "https://nostarch.com,https://google.com"

In [26]:
nostarch_url.removeprefix('https://')

'nostarch.com,https://google.com'

In [27]:
chat ="""
21:36:31 From Muhammad shahbaz To Everyone:
PIAIC 207920
21:36:3* Prom Ammar To Everyone:
PIAIC-105491
21:36:32 From arijraees To Everyone:
PIAIC 186180
21:36:34 Prom Abiha Fatima To Everyone:
PIAIC185515
21:36:35 From Danish To Everyone:
PIAIC*160897*
21:36:35 From Sohaib To Everyone:
PIAIC99662
21:36:39 From Muhammad Tariq Baig To Everyone:
PIAIC 70721
21:36:41 From Muhammad Hashim To Everyone:
PIAIC83847
21:36:48 From Sharmeen Fatima To Everyone:
PIAIC185494
21:36:48 From arijraees To Everyone:
PIAIC-186180
21:36:58 From Muhammad Awais To Everyone:
PIAIC!105507
21:37:07 From Ammar To Everyone:
piaic#104900
21:37:13 Prom Engr M Khubaib To Everyone:
PIAIC202714
"""

In [28]:
import re
pattern ="""21:37:13 Prom Engr M Khubaib To Everyone:
PIAIC202714"""
rows:list[str] = re.findall(pattern,chat)
rows

['21:37:13 Prom Engr M Khubaib To Everyone:\nPIAIC202714']

In [29]:
import re
pattern = r"(\d{2}:\d{2}:\d{2}) From (Engr M Khubaib) To Everyone:\n(PIAIC202714)"
rows: list[str] = re.findall(pattern, chat)
print(rows)

[]