### String Data Type in python

In [68]:
# boundaries
# "string text", 'string text' , ''' stringm text ''', """ string text  """

# double quotes string
name : str ='Abdullah Ghani'
print(type(name))
print('double quotes string: " " ',name)

# single quotes string
name : str ='Abdullah Ghani'
print(type(name))
print("single quotes: ' ' ",name)

# triple quotes string
name : str ='''Abdullah Ghani'''
print(type(name))
print("triple quotes: ''' ''' ",name)

<class 'str'>
double quotes string: " "  Abdullah Ghani
<class 'str'>
single quotes: ' '  Abdullah Ghani
<class 'str'>
triple quotes: ''' '''  Abdullah Ghani

In [69]:
message: str = "PIAIC Student Card\n Father's Name"
#  if we need both single quote ' and double quote  " in a string we will use tripple quote    ``` message``` or """ message """
message: str = """ PIAIC special meaning quote's """

## Concatination

In [70]:
# stings value concatination
'a' + 'b' + 'c'

'abc'

In [71]:
#  it will give error only string concatinate with strings
'a' +9

TypeError: can only concatenate str (not "int") to str

In [72]:
# we have to make int 9 into string
'a' +'9'
'a' + str(9)

'a9'

In [73]:
father_name: str = "Abdul Ghani"
education: str = "BSC Computer Enginering"
age: int = 29

card :str = "PIAIC Student Card\nStudent Name:\t" + name + "\nage:\t"+ str(age) +"\nFather name:\t"+father_name+"\nEducation:\t"+education

print(card)

PIAIC Student Card
Student Name:	Abdullah Ghani
age:	29
Father name:	Abdul Ghani
Education:	BSC Computer Enginering

#### "\\" Line Continue

In [74]:
print(5 +\
      10 +\
    15)

30

In [75]:
father_name: str = "Abdul Ghani"
education: str = "BSC Computer Enginering"
age: int = 29

card :str = "PIAIC Student Card\nStudent Name:\t" + name + "\nage:\t"+ str(age) +"\nFather name:\t"+father_name+"\nEducation:\t"+education

print(card)

PIAIC Student Card
Student Name:	Abdullah Ghani
age:	29
Father name:	Abdul Ghani
Education:	BSC Computer Enginering

#### Define multiline String """  """ ,''' '''

In [76]:
card : str= """
PIAIC Student Card
Student Name:
Father's Name:
Age:
Education:

"""

print(card)

PIAIC Student Card
Student Name:
Father's Name:
Age:
Education:

## F-string

In [77]:
name:str = "Abdullah Ghani"
father_name: str = "Abdul Ghani"
education: str = "BSC Computer Enginering"
age: int = 29

card : str= f"""
PIAIC Student Card
Student Name: {name}
Father's Name:{father_name}
Age:{age}
Education:{education}

Total : {2+3+4+2+4}
"""
print(card)

PIAIC Student Card
Student Name: Abdullah Ghani
Father's Name:Abdul Ghani
Age:29
Education:BSC Computer Enginering

Total : 15

## f-string and Jinja String

In [78]:
# f_string
print(f"""
Student name {name}
""")
# jinja style
print(
"""
student name: {{name}}
""")

Student name Abdullah Ghani


student name: {{name}}

### Placeholder

In [79]:
card : str= f"""
PIAIC Student Card
Student Name: {{name}}
Father's Name:{{fatherName}}
Age: {{age}}
Total : {{2+3+4+2+4}}
"""
print(card)

PIAIC Student Card
Student Name: {name}
Father's Name:{fatherName}
Age: {age}
Total : {2+3+4+2+4}

### string formatting % operator, which utilizes format specifiers

In [80]:
card : str= """
PIAIC Student Card
Student Name: %s
Father's Name: %s
Age: %d
Education: %s
"""%(name,father_name,age,education)
print(card)
print("=============================")

# %s - string
print("Student Name:    %s"%name)

# %d - Decimal Integer:
print("Student Age:    %s"%age)

# %f - Floating point number:
gpa : float = 3.59890898;
print("Student GPA:    %f"%gpa)

# %.<number>f - Floating point number with fixed precision:
print("Student GPA:    %.2f"%gpa)

# %x/%X - Integer in hexadecimal (lowercase/uppercase):
number = 65
print("Lowercase hex: %x, Uppercase hex: %X" % (number, number))

# %o - Integer in octal:
print("octal: %o" % (number))

# %% - Literal '%' character:
discount:int = 40
print("Discount: %d%%" % discount)  # Output: Discount: 10%

# %r - String (using repr), useful for debugging:
value = [1, 2, 3]
print("Value: %r" % value)

# %c - Character (from integer or single character string):
char = 65
print("Character: %c" % char)  # Output: Character: A

# %e/%E - Scientific notation:
number = 123456789
print("Scientific notation: %e / %E" % (number, number))

PIAIC Student Card
Student Name: Abdullah Ghani
Father's Name: Abdul Ghani
Age: 29
Education: BSC Computer Enginering

=============================
Student Name:    Abdullah Ghani
Student Age:    29
Student GPA:    3.598909
Student GPA:    3.60
Lowercase hex: 41, Uppercase hex: 41
octal: 101
Discount: 40%
Value: [1, 2, 3]
Character: A
Scientific notation: 1.234568e+08 / 1.234568E+08

# Placeholder for Methods

In [101]:
a= "karachi"
b= 20
"Pakistan value a is {} and b is {}".format(a.upper(),b)

'Pakistan value a is KARACHI and b is 20'

In [84]:
card : str= """
PIAIC Student Card
Student Name: {2}
Father's Name: {0}
Age: {1}
""".format(father_name,age,name)
#index:     0           1   2
print(card)

PIAIC Student Card
Student Name: ABdUlLah gHaNi
Father's Name: Abdul Ghani
Age: 29

In [102]:
card : str= """
PIAIC Student Card
Student Name: {a}
Father's Name: {b}
Age: {c}
Education:{d}
""".format(a=name,b=father_name,c=age,d=education)
print(card)

PIAIC Student Card
Student Name: Abdullah Ghani
Father's Name: Abdul Ghani
Age: 29
Education:BSC Computer Enginering

## List comprihensive

In [81]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [105]:
a:list[str]=[i for i in dir(str) if "__" not in i]
print(a)

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [106]:
len(a)

47

# String Methods
pre-define global function we havew used
- print
- type
- id
- dir
- len

In [109]:
name:str = "ABdUlLah gHaNi"
print(
    f"""
    capitalize:   {name.capitalize()}
    title: {name.title()}
    casefold: {name.casefold()}
    lower: {name.lower()}
    upper: {name.upper()}
    swapcase: {name.swapcase()}

    """)

    capitalize:   Abdullah ghani
    title: Abdullah Ghani
    casefold: abdullah ghani
    lower: abdullah ghani
    upper: ABDULLAH GHANI
    swapcase: abDuLlAH GhAnI

In [86]:
name = "Abdullah Ghani"
print(name.upper())
print(name.lower())

ABDULLAH GHANI
abdullah ghani

In [87]:
f_name = "Abdullah"
l_name = "Ghani"
full_name = f"{f_name} {l_name}"
print(full_name.title())
print(
    "Python"
)

Abdullah Ghani
Python

In [122]:
name: str = '       Abdullah Ghani      '
display(f"Name: {name}")
#variable.lstrip() remove space from left side
display(f"{name.lstrip()}")
#variable.rstrip() remove space from right side
display(f"{name.rstrip()}")
#variable.strip() remove space from both side
display(name.strip())

'Name:        Abdullah Ghani      '

'Abdullah Ghani      '

'       Abdullah Ghani'

'Abdullah Ghani'

## Escape characters

In [115]:
# /n new line
# /t tab
# /b backspace
# /r carriage return
# /f form feed
# /ooo octal value
# /xhh hex value
# /uxxxx unicode value


print("Name:\tAbdullah\tGhani")
print("Name:\nAbdullah\nGhani")
print("Name :\bAbdullah\tGhani")
print("Name:\rAbdullah Ghani")
print("Name:\fAbdullah Ghani")

Name:	Abdullah	Ghani
Name:
Abdullah
Ghani
Name Abdullah	Ghani
Abdullah Ghani
Name:Abdullah Ghani

In [123]:
card : str= """
print("This is the exec")
a:int=3
b:int= 4
print(a**b)
"""
exec(card)

This is the exec
81

# Regix
Regular Expression

In [129]:
import re
name: str ="        Abdullah    Ghani       "
display(name)
formatName:str= re.sub(' {2,100}',' ',name).strip()
display(formatName)

'        Abdullah    Ghani       '

'Abdullah Ghani'

In [96]:
import re
pattern ="""21:37:13 Prom Engr M Khubaib To Everyone:
PIAIC202714"""
rows:list[str] = re.findall(pattern,chat)
rows

['21:37:13 Prom Engr M Khubaib To Everyone:\nPIAIC202714']

In [93]:
nostarch_url: str = "https://nostarch.com,https://google.com"

In [94]:
nostarch_url.removeprefix('https://')

'nostarch.com,https://google.com'

In [95]:
chat ="""
21:36:31 From Muhammad shahbaz To Everyone:
PIAIC 207920
21:36:3* Prom Ammar To Everyone:
PIAIC-105491
21:36:32 From arijraees To Everyone:
PIAIC 186180
21:36:34 Prom Abiha Fatima To Everyone:
PIAIC185515
21:36:35 From Danish To Everyone:
PIAIC*160897*
21:36:35 From Sohaib To Everyone:
PIAIC99662
21:36:39 From Muhammad Tariq Baig To Everyone:
PIAIC 70721
21:36:41 From Muhammad Hashim To Everyone:
PIAIC83847
21:36:48 From Sharmeen Fatima To Everyone:
PIAIC185494
21:36:48 From arijraees To Everyone:
PIAIC-186180
21:36:58 From Muhammad Awais To Everyone:
PIAIC!105507
21:37:07 From Ammar To Everyone:
piaic#104900
21:37:13 Prom Engr M Khubaib To Everyone:
PIAIC202714
"""

In [98]:
import re
pattern = r"(\d{2}:\d{2}:\d{2}) From (Engr M Khubaib) To Everyone:\n(PIAIC202714)"
rows: list[str] = re.findall(pattern, chat)
print(rows)

[]