# List
- iteration operation with loop
- apply any operation on element
- Introduction
- What is List Comprehension?
- Advantages of Using List Comprehensions
- Practical Examples of List Comprehensions
- Understanding Tuples in Python
- Tuple vs List: When to Use Each?
- For Loops Explained
- Practical Examples Using For Loops
- For-Else Loop: What and Why?
- Real-world Examples of For-Else Loops
- Conclusion and Recap

In [1]:
names: list[str] = ['sir Zia','Abdullah Ghani','Qasim']
print(f'{names}')

['sir Zia', 'Abdullah Ghani', 'Qasim']

In [1]:
names: list[str] = ['sir Zia','Abdullah Ghani','Qasim']

for name in names:
    print(f'{name}')

sir Zia
Abdullah Ghani
Qasim

In [3]:
counter: int = 0

while counter<len(names):
    print(f'{names[counter]}')
    counter+=1

sir Zia
Abdullah Ghani
Qasim

In [8]:
'''
for( counter=0; counter<len(names); counter+=1){
    print(f'{names[counter]}')
}
'''

"\nfor( counter=0; counter<len(names); counter+=1){\n    print(f'{names[counter]}')\n}\n"

for `name` in `names` `:`<br>
<pre>   print(f'{name}')

In [14]:
for name in names:
    print(f'Welcome Dear Teacher {name.title()}')

    print ("PIAIC GEN AI Team")

print ("\nPAKISTAN Zinda Bad")

Welcome Dear Teacher Sir Zia
PIAIC GEN AI Team
Welcome Dear Teacher Abdullah Ghani
PIAIC GEN AI Team
Welcome Dear Teacher Qasim
PIAIC GEN AI Team

PAKISTAN Zinda Bad

In [19]:
names: list[str] = ['sir Zia','Abdullah Ghani','Qasim']
# reverse the loop
for name in names[::-1]:
    print(f'Welcome Dear Teacher {name.title()}')

Welcome Dear Teacher Qasim
Welcome Dear Teacher Abdullah Ghani
Welcome Dear Teacher Sir Zia

In [21]:
#  not change the original tupples
#
data_base : list[tuple[str,str]]= [
    ('sir Zia','123'),
    ('Abdullah Ghani','223'),
    ('Qasim','323')
]

for row in data_base:
    user,password = row
    print(f'{user,password}')

('sir Zia', '123')
('Abdullah Ghani', '223')
('Qasim', '323')

In [2]:
data_base : list[tuple[str,str]]= [
    ('sir Zia','123'),
    ('Abdullah Ghani','223'),
    ('Qasim','323')
]
input_user = input('Enter user name')
input_password = input('Enter password')

for row in data_base:
    user,password = row
    if input_user == user and input_password == password:
        print('Valid User')
        break
    print(f'{user,password}')
else:
    print('not found or Invalid User')

('sir Zia', '123')
('Abdullah Ghani', '223')
Valid User

In [4]:
names: list[str] = ['sir Zia','Abdullah Ghani','Qasim']
# reverse the loop
for name in names:
    print(f'{name.title()}')

else:
    print('No Name Found')

Sir Zia
Abdullah Ghani
Qasim
No Name Found

In [5]:
names: list[str] = ['sir Zia','Abdullah Ghani','Qasim']
for name in names
    print(f'{name.title()}')

SyntaxError: expected ':' (951424784.py, line 2)

In [6]:
names: list[str] = ['sir Zia','Abdullah Ghani','Qasim']
# reverse the loop
for name in names:
print(f'{name.title()}')

IndentationError: expected an indented block after 'for' statement on line 3 (3745816924.py, line 4)

In [11]:
magicians: list[str] = ['alice','david','carolina']
for magician in magicians:
    print(f'{magician.title()}')

print(f'I can\'t wait to see your next trick, {magician.title()}')

Alice
David
Carolina
I can't wait to see your next trick, Carolina

In [13]:
message= "Hello Un nacessary indentation"
    print(message)

IndentationError: unexpected indent (3115137365.py, line 2)

# Numbers with loop
 * range(start,end,step)

In [1]:
range(1,10)

range(0, 10)

In [2]:
list(range(10)) # starting=0 ending n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
list(range(3,31,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [14]:
for n in range(2,21,2):
    print(f'2 * {int(n/2)} = {n}')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [18]:
                    #      0       0       0
magicians: list[str] = ['alice','david','carolina']
list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [21]:
for index, name in enumerate(magicians):
    print(f'{index} {name}')

0 alice
1 david
2 carolina

In [24]:
table = input('Enter a number to print table')
for n in range(1,11,1):
    print(f'{table} * {n} = {n*int(table)}')

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [25]:
squares= [ ]
for value in range(1,11):
    square= value **2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehansive
```
for item in item_list:
    loop_body
```

### Comprehensive Style

```
loop_body for item in items_list
```

In [27]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
digits :list[int] = [0,1,2,3,4,5,6,7,8,9]
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9
0
45

### Shallow Copy | Deep Copy

In [34]:
my_foods = ['pizza','falafel','carrot cake']
friend_foods = my_foods[:] #slicing alway provide deep copy

print(f'{my_foods}')
print(f'{friend_foods}')

friend_foods[0] = "Tikka"

print(f'{my_foods}')
print(f'{friend_foods}')

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

## Tuples

In [38]:
names: tuple[str] = ("A","B","C")
print(f'{names[0]}')
print(f'{names[0:2]}')

A
('A', 'B')

In [39]:
names: tuple[str] = ("A","B","C")
names[0] = "Pakistan" #tupple does not support item assignment and uodation

TypeError: 'tuple' object does not support item assignment

In [42]:
data: tuple = ("Pakistan",[1,2,3],"C")
print(f'{data[0]}')
# data[0]="China"
data[1][0]=100
print(f'{data}')

Pakistan
('Pakistan', [100, 2, 3], 'C')